html, body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f3f3f4;
    color: #676a6c;
    height: 100%;
}

.box {
    border: 1px gray solid;
    background-color: #075fa9;
    color: #fff;
}

#side-menu {
    background-color: #676a6c;
    padding: 0px;
}

#side-menu h1 {
    color: #4a4b4c;
    text-align: center;
    margin: 10px 0px;
    font-size: 25px;
}

#side-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#side-menu a {
    padding: 12px 20px;
    text-decoration: none;
    color: #9fb1c2;
    font-weight: bold;
    display: block;
}

#side-menu .glyphicon {
    margin-right: 6px;
}

#side-menu a:hover {
    background-color: #d85050;
    color: #fff;
    display: block;
}

#side-menu .active a {
    color: #fff;
    background-color: #293846;
}

#side-menu .settings-btn {
    background-color: #1ab394;
}

#side-menu .settings-btn a {
    color: #fff;
}

#side-menu .settings-btn a:hover {
    background-color: #1ab394; 
}

#side-menu .collapseable li {
    padding-left: 20px;
    padding-top: 5px;
}

#side-menu .collapseable a {
    color: #9fb1c2;
    font-size: 12px;
    padding: 0px 10px;
    text-decoration: none;
    display: block;
}

#side-menu .collapseable a:hover {
    color: #fff;
}

#side-menu .collapseable{
    border-left: 4px solid #1ab394;
    background-color: #293846;
}

#side-menu .link > ul > li {
    padding-bottom: 10px;
}

.disabled-table {
    display: table;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.disabled-table-row {
    display: table-row;
    height: 100%;
}

.disabled-table-cell {
    display: table-cell;
    float: none;
    height: 100%;
}

.valing-top {
    vertical-align: top;
}

#nav-header {
    background-color: #fff;
    border-bottom: 1px solid #e7eaec;
}

#nav-header #header-search-field {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: 8px;
    margin-left: 10%;
    vertical-align: center;
    border: none;
    width: 80%;
    outline: none;
    background-color: #f3f3f4;
}

#nav-header ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #676a6c;
}

#nav-header ul li {
    float: left;
    margin-left: 15px;
    padding: 17px 0px;
}

#nav-header ul .glyphicon {
    color: #676a6c;
}

.label-messege {
    background-color: #419641; 
}

#nav-header ul a {
    text-decoration: none;
}

#nav-header .logout {
    color: #676a6c;
}

#nav-header .logout:hover {
    color: #676a6c;
}

#nav-header #welcome {
    margin-right: 20px;
}

#nav-header ul .label {
    position: absolute;
    margin-top: -10px;
    margin-left: -5px;
}

#nav-header .fixed-width {
    width: 35px;
}

#admin-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
    color: #676a6c;
}

.navbar-default {
    background-color: #fff; 
}

.navbar-default .navbar-toggle {
    border-color: #1ab394;
    background-color: #1ab394;
}

.navbar-default .icon-bar {
    border: 1px white solid;
}

.navbar-default .navbar-toggle:hover {
    background-color: #1ab394;
}

.navbar-default .navbar-toggle:focus {
    background-color: #1ab394;
}

#content {
    margin: 20px 0px 50px 0px;
    background-color: #fff;
    border-top: 4px #e7eaec solid;
}

#content header {
    border-bottom: 1px #f3f3f4 solid;
    padding: 10px 20px;
}

.page_title {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
}

.content-inner {
    padding: 20px;
}

.search-field {
    height: 31px;
    border: 1px;
}

.search-row {
    margin-bottom: 30px; 
}

.label-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.label-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.label-xs {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.pagination a {
    color: #1f3647 !important;
}

.img-perfil {
    margin-top: 5px;
    width: 120px;
    height: 120px;
}

.img-perfil-fundo {
    margin-top: 40px;
    background-color: #d85050;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.font-color {
    margin-top: 8px;
    margin-bottom: 30px;
    color: #edeeef;
    text-align: center;
}

.actions-form {
    display: inline;
    float: left;
    margin: 5px;
}

.form-wrapper {
    background-color: #eee;
    padding: 20px;
}

.note-editable {
    background-color: #fff;
}

.chosen-container, chosen-container-multi {
    width: 100% !important;
}

.breadcrumb {
    background-color: #FFF;
    margin-bottom: 0px;
    margin-top: 20px;
}

.break-text {
    padding-top: 3%;
}