.comments-row {
    margin-bottom: 30px;
}

.comment-age {
    font-size: 12px;
}

.comments-well {
    margin-top: 10px;
}

.breadcrumb {
    background-color: #FFF;
    margin-bottom: 0px;
    margin-top: 20px;
}